In [27]:
import pandas as pd

data = pd.read_csv('amazon-orders.csv')
data.head(59)
#data.shape # This gives us the dimensions of the file, so there are 59 rows and 23 columns.
data = data.fillna(0)
data.head()

,Order Date,Order ID,Payment Instrument Type,Website,Purchase Order Number,Ordering Customer Email,Shipment Date,Shipping Address Name,Shipping Address Street 1,Shipping Address Street 2,...,Order Status,Carrier Name & Tracking Number,Subtotal,Shipping Charge,Tax Before Promotions,Total Promotions,Tax Charged,Total Charged,Buyer Name,Group Name
0,04/01/19,112-0000000-0000001,Visa - 0001,Amazon.com,0.0,your_email@gmail.com,04/01/19,Your Name,1 YOUR STREET,0.0,...,Shipped,USPS(0001),$35.00,$0.00,$1.93,$0.00,$1.93,$36.93,Your Name,0.0
1,04/01/19,112-0000000-0000002,Visa - 0001,Amazon.com,0.0,your_email@gmail.com,04/01/19,Your Name,1 YOUR STREET,0.0,...,Shipped,USPS(0001),$16.99,$0.00,$0.00,$0.00,$0.00,$16.99,Your Name,0.0
2,04/01/19,112-0000000-0000003,Visa - 0001,Amazon.com,0.0,your_email@gmail.com,04/01/19,Your Name,1 YOUR STREET,0.0,...,Shipped,USPS(0001),$9.99,$0.00,$0.00,$0.00,$0.00,$9.99,Your Name,0.0
3,04/04/19,112-0000000-0000004,Visa - 0001,Amazon.com,0.0,your_email@gmail.com,04/05/19,Your Name,1 YOUR STREET,0.0,...,Shipped,UPS(0002),$147.98,$0.00,$8.14,$0.00,$8.14,$156.12,Your Name,0.0
4,04/05/19,112-0000000-0000005,Visa - 0001,Amazon.com,0.0,your_email@gmail.com,04/07/19,Your Name,1 YOUR STREET,0.0,...,Shipped,USPS(0001),$14.99,$0.00,$0.00,$0.00,$0.00,$14.99,Your Name,0.0

In [26]:
import pandas as pd

data = pd.read_csv('amazon-orders.csv')
data.head(59)
#data.shape # This gives us the dimensions of the file, so there are 59 rows and 23 columns.
data = data.fillna(0)
data.head()
# data = data["Total Charged"].str.replace('$','') #This gave just the price for each row.
data["Total Charged"] = data["Total Charged"].str.replace('$','').astype(float) # Need to change to float or else it processes the values as strings.
data.head(59)
data["Total Charged"].sum() # $1777.73

1777.7300000000002

In [28]:
import pandas as pd

data = pd.read_csv('amazon-orders.csv')
data.head(59)
#data.shape # This gives us the dimensions of the file, so there are 59 rows and 23 columns.
data = data.fillna(0)
data.head()
# data = data["Total Charged"].str.replace('$','') #This gave just the price for each row.
data["Total Charged"] = data["Total Charged"].str.replace('$','').astype(float) # Need to change to float or else it processes the values as strings.
data.head(59)
data["Total Charged"].sum() # $1777.73
data["Total Charged"].min() # $ 1.04

1.04